#shortNew {
    width: 100%;
    background-color: #f2e8cf;
    display: flex;
    position: relative;
    align-items: baseline;
    justify-content: space-between;

}
#shortNewLabel {
    background-color: #E23A3A;
    font-weight: 500;
    color: white;
    padding: 0.2% 0.4% 0.2% 0.2%;
    margin-left: 4%;
    white-space: nowrap;
    
}
#shortNewContent {
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 0;
}
#time {
    margin-right: 4%;
    margin-left: 8%;
    white-space: nowrap;
}
nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #a7c957;
}
#navButton {
    margin-left: 4%;
    display: flex;
    align-items: baseline;
}
#navButton div {
    display: inline-block;
    width: 25%;
    height: 50%;
    gap: 10%;
    min-height: 40px;
    position: relative;
}
#navButton div p {
    text-align: center;
    align-items: center;
    padding: 1vw 2vw 1vw 2vw;
    font-size: 16pt;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2pt;
}
#searchIcon {
    color: white;
    position: absolute;
    display: flex;
    gap: 1vw;
    right: 5%;
    align-items: center;
}
#search{
    border-radius: 0.5vw;
    border: none;
    height: 1.5vw;
    width: 15vw;
}
